<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="english.tenses.practice">

    <application
        android:name=".view.App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".view.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".view.activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusBarTheme" />
        <activity
            android:name=".view.activities.AchievementsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusBarTheme" />
        <activity
            android:name=".view.activities.TheoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusBarTheme" />
        <activity
            android:name=".view.activities.ExamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusBarTheme" />
        <activity
            android:name=".view.activities.IrregularVerbsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusBarTheme" />
        <activity
            android:name=".view.activities.TrainingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusBarTheme" />
        <activity
            android:name=".view.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusBarTheme" />
    </application>

</manifest>